<h5>User info</h5>
<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<h6>User name </h6>
<%= user.name %>
<h6>Introduction
<%= user.introduction %>
<% if user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(user) %></p>
<% end %>