<h2 class="new_book">New book</h2>
<%= form_with model: books, local:true do |book| %>
  <label for="inputTitle", class="form-label">Title</label>
  <%= book.text_field :title, id:"inputTitle", class: "form-control" %>
  <label for="inputBody", class="form-label">Opinion</label>
  <%= book.text_area :body, id:"inputBody", class: "form-control" %>
  <%= book.submit "Create Book", class: "btn btn-success" %>
<% end %>