<% if object.errors.any? %>
  <div>
    <%= object.errors.count %> error prohibited this obj from being saved:
  </div>
  <% object.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>